# change this file name to .env
# --- AISTUDIO.GOOGLE.COM PROPERTIES ---
GEMINI_API_KEY="yourKeyGoesHere"
GEMINI_PROJECT_NAME="projects/number"
GEMINI_PROJECT_NUMBER="number"

# --- SERVER CONFIG ---
HOST="127.0.0.1"
PORT=8000
DEBUG_MODE=True

# --- BLENDER CONFIG ---
MAX_TOKENS=8192
